* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: AC;
  src: url("/img/Trajan\ Pro\ Regular.ttf");
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
